div.call-to-action {
    padding: 100px 75px;
    background: linear-gradient(to right, blue -30%, purple);
    display: flex;
    justify-content: center;

    span {
        font-family: 'Panton';
        color: #fff;
        font-size: 40px;
        text-align: center;
    }
}